<!DOCTYPE html>
<html lang="es">
<%- include('../partials/head') %> 
<head>
  <title>Pegasus Tech | Editar producto</title>
</head>
    
<body>
    <%- include('../partials/header.ejs') %> 
    <section class="producto-detail">
      <form action="/products/productEdit/<%= datos.id %> " method="POST">
        <div class="producto-titulo">
          <h2>
            <label for="name"> Nombre: </label>
            <input type="text" name="name" id="name" value="<%= datos.name %> ">
          </h2>
        </div>
        <div class="input-container">
          <label class="input-label manufacturer">Nombre del fabricante <i class="fa-solid fa-check"></i></label>
          <select name="manufacturer" class="input">
            <% manofacturers.forEach(manofacturer => {%>
              <option class="option" value="<%= manofacturer.dataValues.id %>">
                <%= manofacturer.dataValues.name %> 
              </option>
            <% }) %>
          </select>
        </div> 

        <div class="input-container">
          <input name="model" id="model" class="input" type="text" placeholder="Modelo" value="<%= datos.model ? datos.model : "" %>">
          <label class="input-label" for="model">Modelo del producto 
            <i class="fas fa-file-signature"></i></label>
        </div>

        <div class="input-container">
          <label class="input-label" for="variaciones">Variaciones del producto<i class="fas fa-file-signature"></i></label>
          <select name="variations" id="variations" class="input">
            <% features.forEach(feature => {%>
              <option class="option" value="<%= feature.dataValues.id %> ">
                <%= feature.dataValues.name %> 
              </option>
            <% }) %>
          </select>
        </div>

        <div class="list-choice">
          <div class="list-choice-title">Seleccione la Categoria <i class="fa-solid fa-layer-group"></i></div>
          <div class="list-choice-objects">
            <select name="category" value="portatiles">
              <% categorys.forEach(category => {%>
                <option class="option" value="<%= category.dataValues.id %> ">
                  <%= category.dataValues.name %> 
                </option>
              <% }) %>
            </select>
          </div>
        </div>
        
        <div class="textarea-container">
          <textarea name="description" id="descripcion" class="textarea" type="text" placeholder="descripcion" ><%= datos.description ? datos.description : "" %></textarea>
          <label class="textarea-label" for="descripcion">Descripcion del producto 
            <i class="fas fa-file-signature"></i></label>
        </div>
        
        <div class="input-container">
          <input name="price" id="precio" class="input" type="text" placeholder="Precio" value="<%= datos.price ? datos.price : "" %>">
          <label class="input-label" for="precio">Precio del producto <i class="fas fa-dollar-sign"></i></label>
        </div>

        <div class="input-container">
          <input name="discount" id="descuento" class="input" type="text" placeholder="Descuento" value="<%= datos.discount ? datos.discount : "" %>">
          <label class="input-label" for="descuento">Descuento del producto <i class="fas fa-percent"></i></label>
        </div>

        <div class="input-container">
          <input name="stock" id="stock" class="input" type="text" placeholder="Descuento" value="<%= datos.stock ? datos.stock : "" %>">
          <label class="input-label" for="stock">Stock del producto <i class="fab fa-stack-overflow"></i></label>
        </div>

        <div class="input-container">
          <label class="input-label file" for="imagen">Seleccione la imágen del producto 
            <i class="fa-solid fa-camera"></i></label>
          <input name="images" id="images" class="input-file" type="file" multiple placeholder="Imágen" >
        </div>
      </fieldset>

      <input type="submit" value="modificar">
      <a href=""></a>
    </form>
      <!-- El form de la edición se cierra dentro de btns-producto -->
    </section>
    
    <%- include('../partials/footer') %> 
    
</body>
</html>