<!DOCTYPE html>
<html lang="es">
<%- include('../partials/head') %> 
<head>
  <link rel="stylesheet" href="/css/productDetail.css" />
  <title>Pegasus Tech | Producto</title>
</head>

<body> 
  <%- include('../partials/header') %>

  <main class="product">
    <div class="img">
      <img src="<%= productInfo.images %> " alt=""/>
    </div>
    <div class="product-info">
      <div class="product-name"><h1><%= productInfo.name %> </h1></div>
      <div class="product-price"><h2>$ <%= productInfo.price %> </h2></div>
      <div class="product-description"><p><%= productInfo.description %> </p></div>
      <div class="product-stock"><h5>Stock: <%= productInfo.stock %> </h5></div>
    </div>
  </main>

  <h2 class="section-title degradado">Recomendados</h2>
  <section class="recopilacion">
    <div class="producto-preview"></div>
    <div class="producto-preview"></div>
    <div class="producto-preview"></div>
    <div class="producto-preview"></div>
  </section>

  <section class="recopilacion historial" style="display: none">
    <div class="producto-preview"></div>
    <div class="producto-preview"></div>
    <div class="producto-preview"></div>
    <div class="producto-preview"></div>
  </section>
  
  <%- include('../partials/footer') %>
</body>
</html>