<!DOCTYPE html>
<%- include('../partials/head') %> 
<head>
  <link rel="stylesheet" href="/css/productShop.css">
  <title>Document</title>
  <form action="" id="applyFilters" method="POST"></form>
</head>

<body>
  <%- include('../partials/header.ejs') %>
  
  <main>
    <section class="shop-filters">
      <div class="filter">
        <h3>Categoría</h3>
        <input type="checkbox" name="category" id="category" value="Procesadores" form="applyFilters">
        <label for="category">Procesadores</label>
      </div>
      <div class="filter">
        <h3>Marca</h3>
        <input type="checkbox" name="" form="applyFilters">
      </div>
    </section>
    <section class="products-display">
      <% for (let i=0; i<products.length; i++) {%>
        <!-- <% productName = products[i].manufacturer_id + products[i].line_id + products[i].variation %> -->
        <div class="product-preview">
          <div class="preview-img">
            <img src="/img/uploads/products/<%= products[i].images %>"/>
          </div>
          <div class="product-name">
            <a href="../products/productDetail/<%= products[i].id %>"><h3><%= products[i].name %></h3></a>
          </div>
          <div class="price"><h2>$ <%= products[i].price %></h2></div>
        </div>
      <% } %> 
    </section>
  </main>
  <%- include('../partials/footer') %> 
</body>
</html>