<!DOCTYPE html>
<html lang="es">
<%- include('../partials/head') %> 
<head>
  <link rel="stylesheet" href="/css/productDetail.css" />
  <link rel="stylesheet" href="/css/productEdit.css" />
  <title>Pegasus Tech | Editar producto</title>
</head>
    
<body>
    <%- include('../partials/header.ejs') %> 
    <section class="producto-detail">
      <form action="/products/<%= producto.id %>?_method=PUT" method="POST" enctype="multipart/form-data">
        <div class="producto-titulo">
          <h2>
            <label for="name"> Nombre: </label>
            <input type="text" name="name"  value="<%= producto.name %>">
            
          </h2>
        </div>
        <label for="manufacturer"> Fabricante: </label>
        <input type="text" name="manufacturer" value="<%= producto.manufacturer %>">

        <label for="model"> Modelo: </label>
        <input type="text" name="model" value="<%= producto.model %>">
        <!--convertir select-->
          <div class="calificacion">
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-regular fa-star"></i>
          </div>
        </div>

        <div class="producto-elementos">
          <div class="producto-imagenes">
            <input id="inputFile1"  type="file" name="imagen" multiple>

            <div class="img-main">
              <img class="img-main" id="img1" src="/img/uploads/<%= producto.images[0] %> " alt="imagen de producto">
            </div>
            <ul class="img-alt">
              <% for(let i=1;i<producto.images.length;i++){ %>
                <li>
                  <button>
                    <i class="fa-regular fa-circle-dot"></i>
                    <img src="/img/uploads/<%= producto.images[i] %> " alt="view">
                  </button>
                </li>
              <% } %>  
            </ul>
          </div>

          <div class="producto-info">
            <div class="producto-opciones">
              <% for(let i=0;i<producto.colors.length;i++){ %>
                <button> <%= producto.colors[i] %> </button>
              <% } %>  
            </div>
            <input class="stock-edit" type="text" name="stock" value="<%= producto.stock %>"> Unidades en stock
            <textarea class="descripcion-edit" rows="5" wrap="hard" name="description">
              <%= producto.description %>
            </textarea>
          </div>
          
          <div class="producto-precio">
            <div class="precio-numero"> 
              <div>
                <label for="price"> $ </label> 
                <input type="text" name="price" value="<%= producto.price %>">
              </div>
              
              <div>
                <input type="text" name="discount" value="<%= producto.discount %>">
                <label for="discount"> % </label> 
              </div>
            </div>

            <div class="btns-producto">
              <div>
                <input class="btn" type="submit" value="Guardar Cambios">
              </div> </form> <!-- Cierre del form principal -->

              <form action="/products/<%= producto.id %>?_method=DELETE" method="POST">
                <input class="btn" type="submit" value="Eliminar Producto">
              </form>
            </div>
          </div>
        </div>
      <!-- El form de la edición se cierra dentro de btns-producto -->
    </section>
    
    <%- include('../partials/footer') %> 
    <script>
      function init() {
        var inputFile = document.getElementById('inputFile1');
        inputFile.addEventListener('change', mostrarImagen, false);
      }
  
      function mostrarImagen(event) {
        var file = event.target.files[0];

        var reader = new FileReader();
        reader.onload = function(event) {
          var img = document.getElementById('img1');
          img.src= event.target.result;
        }
        reader.readAsDataURL(file);
      }
  
    window.addEventListener('load', init, false);
    </script>
</body>
</html>