<!DOCTYPE html>
<html lang="es">
<%- include('../partials/head') %> 
<head>
  <title>Pegasus Tech | Editar producto</title>
  <link rel="stylesheet" href="/css/productRegisterEdit.css">
  <form action="/products/productEdit/<%= product.id %>" method="POST" 
    id="saveEditForm" enctype="multipart/form-data"></form>
</head>
    
<body class="form-background">
  <%- include('../partials/header.ejs') %> 
  <main class="form-container product-form-grid">
    <section class="form-section product-image">
      <label for="uploadImage">
        <div class="image-edit-area">
          <% if(product.images == "noImage.png") { %>
            <img src="" class="darken"/>
          <% } else { %>
            <img src="<%= uploadsPath + '/products/' + product.images %>" class="darken"/>
          <% } %>
        </div> 
        <div class="add-image-icon">
          <i class="fa-regular fa-file-image"></i>
        </div>
      </label>
      <input type="file" name="uploadImage" id="uploadImage" form="saveEditForm">
      
      <div>
        <h1><%= product.name %></h1>
        <h3> SKU: <%= product.id %></h3>
      </div>
    </section>

    <section class="form-section">
      
      <div class="form-field">
        <label for="name"><p>Nombre</p></label>
        <input type="text" name="name" id="name" class="text-input" 
          form="saveEditForm" value="<%= product.name ? product.name : '' %>">
        <% if(locals.errors && errors.name) {%> 
          <div class="error-message">
            <p> <%= errors.name.msg %> </p>
          </div>
        <% }; %>
      </div>

      <div class="form-field">
        <label for="manufacturer"><p>Fabricante</p></label>
        <select name="manufacturer" id="manufacturer" form="saveEditForm">
          <% manufacturers.forEach(manufacturer => {%>
            <option value="<%= manufacturer.dataValues.id %>">
              <%= manufacturer.dataValues.name %> 
            </option>
          <% }) %>
        </select>
        <% if(locals.errors && errors.manufacturers) {%> 
          <div class="error-message">
            <p> <%= errors.manufacturer.msg %> </p>
          </div>
        <% }; %>
      </div>

      <div class="form-field">
        <label for="model"><p>Modelo</p></label>
        <input type="text" name="model" id="model" class="text-input" 
          form="saveEditForm" value="<%= product ? product.model : '' %>">
        <% if(locals.errors && errors.model) {%> 
          <div class="error-message">
            <p> <%= errors.model.msg %> </p>
          </div>
        <% }; %>
      </div>

      <div class="form-field">
        <label for="features"><p>Variaciones</p></label>
        <select name="features" id="features" form="saveEditForm">
          <% features.forEach(feature => {%>
            <option value="<%= feature.dataValues.id %>">
              <%= feature.dataValues.name %> 
            </option>
          <% }) %>
        </select>
        <% if(locals.errors && errors.features) {%> 
          <div class="error-message">
            <p> <%= errors.features.msg %> </p>
          </div>
        <% }; %>
      </div>

      <div class="form-field">
        <label for="category"><p>Categoría</p></label>
        <select name="category" id="category" form="saveEditForm">
          <% categories.forEach(category => {%>
            <option value="<%= category.dataValues.id %>">
              <%= category.dataValues.name %> 
            </option>
          <% }) %>
        </select>
        <% if(locals.errors && errors.categories) {%> 
          <div class="error-message">
            <p> <%= errors.category.msg %> </p>
          </div>
        <% }; %>
      </div>

      <div class="form-field">
        <label for="description"><p>Descripción</p></label>
        <input type="textarea" name="description" id="description" class="text-input" 
          form="saveEditForm" value="<%= product ? product.description : '' %>">
        <% if(locals.errors && errors.description) {%> 
          <div class="error-message">
            <p> <%= errors.description.msg %> </p>
          </div>
        <% }; %>
      </div>

      <div class="form-field">
        <label for="price"><p>Precio ($ COP)</p></label>
        <input type="text" name="price" id="price" class="text-input" 
          form="saveEditForm" value="<%= product ? product.price : '' %>">
        <% if(locals.errors && errors.price) {%> 
          <div class="error-message">
            <p> <%= errors.price.msg %> </p>
          </div>
        <% }; %>
      </div>

      <div class="form-field">
        <label for="discount"><p>Descuento (%)</p></label>
        <input type="text" name="discount" id="discount" class="text-input" 
          form="saveEditForm" value="<%= product ? product.discount : '' %>">
        <% if(locals.errors && errors.discount) {%> 
          <div class="error-message">
            <p> <%= errors.discount.msg %> </p>
          </div>
        <% }; %>
      </div>

      <div class="form-field">
        <label for="stock"><p>Stock</p></label>
        <input type="text" name="stock" id="stock" class="text-input" 
          form="saveEditForm" value="<%= product ? product.stock : '' %>">
        <% if(locals.errors && errors.stock) {%> 
          <div class="error-message">
            <p> <%= errors.stock.msg %> </p>
          </div>
        <% }; %>
      </div>

      <div class="form-buttons">
        <button type="submit" form="saveEditForm" class="btn main-button">Guardar</button>
        <a href="../../products/productDetail/<%= product.id %>" class="btn">Cancelar</a>
      </div>
      
    </section>
  </main>
  
  <%- include('../partials/footer') %> 
</body>
</html>