<!DOCTYPE html>
<%- include('../partials/head') %> 
<head>
  <link rel="stylesheet" href="/css/productShop.css">
  <title>Document</title>
</head>

<body>
  <%- include('../partials/header.ejs') %>
  
  <main>
    <section class="shop-filters">

    </section>
    <section class="products-display">
      <% for (let i=0; i<products.length; i++) {%>
        <% productName = products[i].manufacturer_id + products[i].line_id + products[i].variation %> 
        <div class="product-preview">
          <div class="preview-img">
            <img src="/img/uploads/products/<%= products[i].images %>"/>
          </div>
          <div class="product-name">
            <a href="../products/productDetail/<%= products[i].id %>"><h3><%= productName %></h3></a>
          </div>
          <div class="price"><h2>$ <%= products[i].price %></h2></div>
        </div>
      <% } %> 
    </section>
  </main>
  <%- include('../partials/footer') %> 
</body>
</html>