<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>
<head>
  <link rel="stylesheet" href="/css/productCart.css">
  <title>Pegasus Tech | Carrito de productos</title>
  <form action="" method="POST" id="checkoutForm"></form>
</head>
<body>
  <%- include('../partials/header') %>

  <% if(products) { %>
    <main class="cart">
      <h1 class="degradado">Carrito de productos</h1>

      <% for (let i=0; i<products.length; i++) { %> 
        <div class="product-in-cart">
          <div class="product-in-cart-img">
            <img src="/img/uploads/products/<%= products[i].images %>">
          </div>

          <div class="product-in-cart-info">
            
            <form method="POST" action="/cart/subtract1FromCart/<%= products[i].id %>" id="subtract1FromCart"></form>
            <form method="POST" action="/cart/add1ToCart/<%= products[i].id %>" id="add1ToCart"></form>
            <form method="POST" action="/cart/removeFromCart/<%= products[i].id %>" id="removeFromCart"></form>

            <div class="product-in-cart-name">
              <a href="../products/productDetail/<%= products[i].id %>"><h2><%= products[i].name %></h2></a>
            </div>
            
            <div class="product-in-cart-options">
              <input type="text" form="checkoutForm" class="cart-input-text" value="<%= invoiceQuantity[i] %>">
              <form class="visible-form" method="POST" action="/cart/subtract1FromCart/<%= products[i].id %>">
                <button type="submit" class="quantity-button icon-button"><i class="fa-solid fa-square-minus"></i></button>
              </form>
              <form class="visible-form" method="POST" action="/cart/add1ToCart/<%= products[i].id %>">
                <button type="submit" class="quantity-button icon-button"><i class="fa-solid fa-square-plus"></i></button>
              </form>
              <form class="visible-form" method="POST" action="/cart/removeFromCart/<%= products[i].id %>">
                <button type="submit" class="remove-product icon-button">
                  <i class="fa-solid fa-circle-xmark"></i>
                </button>
              </form>
            </div>
          </div>

          <div class="product-in-cart-price">
            <h3>$ <%= invoicePrices[i] %></h3>
          </div>
        </div>
      <% } %> 

      <div class="cart-subtotal">
        <h2>Total(<%= products.length %> items)</h2>
        <h2>$ <%= totalPrice %> </h2>
      </div>

      <div class="form-buttons">
        <button class="btn main-button">Comprar!</button>
      </div>
    </main>

  <% } else { %>
    
    <main class="empty-cart">
      <div class="empty-cart-image">
        <a href="../../products/" class="icon-button"><i class="fa-solid fa-cart-plus"></i></a>
      </div>
      <a href="../../products/" class="btn main-button">Anímate a llenar el carrito!</a>
    </main>

  <% } %>

  <%- include('../partials/footer') %>
</body>
</html>