<!DOCTYPE html>
<html lang="es">
<%- include('../partials/head') %>
<head>
  <form action="/users/login" method="POST" id="loginForm"></form>
</head>

<body class="form-background"> 
  <%- include('../partials/header') %>

  <main class="form-container">
    <section class="form-section">
      
      <h1>¡Bienvenido de nuevo!</h1>

      <div class="form-field">
        <label for="email"><p>E-mail</p></label>
        <input type="text" name="email" id="email" form="loginForm" class="text-input">
        <% if(locals.errors && errors.email) {%> 
          <div class="error-message">
            <p> <%= errors.email.msg %> </p>
          </div>
        <% }; %> 
      </div>
      <div class="form-field">
        <label for="password"><p>Contraseña</p></label>
        <input type="password" name="password" id="password" form="loginForm"s class="text-input">
        <% if(locals.errors && errors.password) { %>
          <div class="error-message">
            <p> <%= errors.password.msg %> </p>
          </div> 
        <% } %>
      </div>

      <div class="form-field">
        <div class="check-container">
          <input type="checkbox" name="rememberMe" id="rememberMe" 
          class="with-font" form="loginForm">
          <label for="rememberMe" class="icon paragraph"> Recuérdame </label>
        </div>
      </div>

      <div class="form-buttons">
        <button type="submit" form="loginForm" class="btn main-button">Ingresar</button>
      </div>
      
      <div class="form-footer">
        <a href="#" class="olvide-contrasena"> Olvidé mi contraseña </a>
        <p>¿Necesitas una cuenta? <a href="/users/register">Registrate</a></p>
      </div>
    </seciton>
  </main>
  <%- include('../partials/footer') %>
</body>
</html>