<!DOCTYPE html>
<html lang="es">
<%- include('../partials/head') %>
<head> 
  <link rel="stylesheet" href="/css/register.css" />
</head>

<body> 

  <main class="login-register-container">
    
    <section class="form-container">
      <a href="/"><i class="fa-solid fa-circle-left fa-2x"></i></i></a>
      <h1>Registro</h1>

      <% if(errores) {%> 
        <div class="form-error-message">
          <% errores.forEach(element => { %>
            <div>
            <%= element.msg %>
            </div>
          <% }); %>
        </div>
      <% }; %>  

      <form action="/users/register" method="POST">

        <div class="control">
          <label for="fullName" >Nombre completo</label>
          <input type="text" name="fullName" id="fullName" value="<%= usuario ? usuario.fullName : '' %>">
        </div>

        <div class="control">
          <label for="email">Correo electrónico</label>
          <input type="email" name="email" id="email" value="<%= usuario ? usuario.email : '' %>">
        </div>

        <div class="control">
          <label for="password">Ingresa una contraseña</label>
          <input type="password" name="password" id="password">
        </div>

        <div class="control">
          <label for="repassword">Repite la contraseña</label>
          <input type="password" name="repassword" id="repassword" >
        </div>

        <div class="control">
          <label for="phone">Numero Celular</label>
          <input type="text" name="phone" id="phone" value="<%= usuario ? usuario.phone : '' %>">
        </div>

        <input type="hidden" name="address" value="undefined">
        <input type="hidden" name="gender" value="undefined">
        <input type="hidden" name="title" value="User">

        <span class="Rememberme-login">
          <input type="checkbox" name="termsAndConditions"> Aceptas los terminos y condiciones de nuestro servicio
        </span>
        <div class="control">
          <input onclick="confirmar()" id="btn" type="submit" value="Terminar el Registro">
        </div>
      </form>
      <div class="link-forgot-password">
        <a href="/users/login">¿Ya tienes una cuenta?</a>
      </div>
    </section>
  </main>

  <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  
  <script>/*preguntar si el registro del usuario se hizo*/
      function confirmar(){
          Swal.fire({
              title: 'Formulario enviado con exito!'
          }).then(res=>{
              window.location = '/'
          })
      }
  </script>
</body>
</html>