<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>
<body>
  <%- include('../partials/header') %>
  
  <form action="../users/userEdit/<%= us.id %> ?_method=PUT" 
    method="POST" enctype="multipart/form-data">
    <label for="fullName">fullName</label>
    <input type="text" name="fullName" id="fullName" value="<%= us.fullName %> ">

    <label for="email">email</label>
    <input type="email" name="email" id="email" value="<%= us.email %> ">

    <label for="phone">phone</label>
    <input type="text" name="phone" id="phone" value="<%= us.phone %> ">

    <label for="address">address</label>
    <input type="text" name="address" id="address" value="<%= us.address %> ">

    <select name="gender" value=" ">
      <option value="Hombre">Hombre</option>
      <option value="Mujer">Mujer</option>
      <option value="Otro">Otro</option>
    </select>
    <label for="profileImage">profileImage</label>
    <input type="file" name="profileImage" id="profileImage">

    
  </form>

  <%- include('../partials/footer') %>
</body>
</html>